body
{
    font-size: 12px;
	background:#CCC
}
#startPanel p, #endPanel p
{
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}
#startPanel div, #endPanel div
{
    padding: 5px;
}
#startPanel, #endPanel
{
    border: 1px solid #FA8722;
    font-size: 12px;
}
 h5 {
line-height: 3em;
padding: 0;
margin: 0;
}
.boxpanel
{
    width: 217px;
    float: right;
    border: 1px solid gray;
    padding: 0 2px 10px;
    height: 600px;
    overflow-y: auto;
}
#container
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}
.eMapsInfo
{
    width: 787px;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
}
.eMaps
{
    border: 6px solid #d2e0ee;
    background: #fff;
    height: 552px;
    width: 552px;
    float: left;
}
.eMapsTop
{
    height: 45px;
    padding-top: 20px;
    color: #333333;
    font-size: 14px;
}

body, html {width: 100%;height: 100%; margin:0;font-family:"微软雅黑";}
		#allmap{height:500px;width:100%;}
		#r-result,#r-result table{width:100%;}